@charset "UTF-8";
body, html {
  padding: 1.1rem;
  min-height: 100%;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-VariableFont_wght.ttf") format("ttf-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf") format("ttf-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: italic;
}
html, body {
  margin: 0;
}

html {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  background-color: #101e4a;
  font-size: 1.1rem;
}

main > header {
  max-width: 512px;
  margin: auto;
  margin-bottom: 2em;
  color: #69fabd;
}
main > header:before {
  margin: 0 auto;
  content: "";
  max-width: 80%;
  height: 200px;
  display: block;
  padding: 1.1rem 2.2rem;
  box-sizing: border-box;
  background-image: url("../images/harmony-dev-dao-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

label {
  display: block;
  color: #00ade8;
  font-weight: bold;
  color: #00ade8;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
}

#app {
  color: whitesmoke;
  background-color: #040a17;
  border-radius: 0.33rem;
  padding: 1.1rem 2.2rem;
}
#app h1 {
  margin-top: 0;
  color: #69fabd;
}

.accent {
  font-weight: bold;
  color: #69fabd;
}

main {
  margin: auto;
  width: 1080px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 1.1rem 2.2rem;
}
main > h1 {
  margin-top: 0;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.55rem 1.1rem;
  border-radius: 0.33rem;
  outline-color: #69fabd;
  background-color: #3f3f3f;
  border: none;
  color: whitesmoke;
  font-weight: bold;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.spinner {
  border: 0.2em solid #69fabd;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  border-bottom-color: transparent;
  animation: infinite 1s linear spin;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.button,
button {
  display: flex;
  align-items: center;
  border-width: 1px;
  border-style: outset;
  border-color: #767676;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  color: whitesmoke;
  padding: 0.825rem 1.1rem;
  background-color: #3f3f3f;
  border-radius: 0.33rem;
  transition: all 0.15s;
  margin: 1em 0;
}
.button.active,
button.active {
  border-color: #00739b;
  border-style: inset;
  background-color: #00739b;
}
.button.active:hover,
button.active:hover {
  background-color: #0086b5;
}
.button[disabled], .button.disabled,
button[disabled],
button.disabled {
  color: #818181;
  background-color: #3f3f3f;
  border-style: outset;
  cursor: not-allowed;
}
.button[disabled]:hover, .button.disabled:hover,
button[disabled]:hover,
button.disabled:hover {
  background-color: #3f3f3f;
}
.button[disabled]:active, .button.disabled:active,
button[disabled]:active,
button.disabled:active {
  background-color: #3f3f3f;
  box-shadow: none;
  pointer-events: none;
}
.button:hover,
button:hover {
  background-color: #4c4c4c;
}
.button:active,
button:active {
  background-color: #3f3f3f;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.async-button {
  display: flex;
  justify-content: center;
}
.async-button.waiting > .spinner {
  opacity: 1;
}
.async-button > .spinner {
  margin-right: 1.1rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.button-group {
  display: flex;
}
.button-group > *:not(:last-child) {
  margin-right: 0.22rem;
}
.button-group button,
.button-group .button {
  border-radius: 0;
}
.button-group button.highlight,
.button-group .button.highlight {
  background-color: #46ac80;
}
.button-group button.highlight:hover,
.button-group .button.highlight:hover {
  background-color: #53b98d;
}
.button-group button.danger,
.button-group .button.danger {
  background-color: #E8174D;
}
.button-group button.danger:hover,
.button-group .button.danger:hover {
  background-color: #ea2e5f;
}
.button-group button:first-child,
.button-group .button:first-child {
  border-top-left-radius: 0.33rem;
  border-bottom-left-radius: 0.33rem;
}
.button-group button:last-child,
.button-group .button:last-child {
  border-top-right-radius: 0.33rem;
  border-bottom-right-radius: 0.33rem;
}
.button-group > * {
  flex: 1;
}

select {
  color: whitesmoke;
  background-color: #3f3f3f;
  padding: 0.55rem 1.1rem;
  border-radius: 0.33rem;
}

.asset-input {
  position: relative;
  display: flex;
  border-width: 1px;
  border-style: inset;
  border-color: #3f3f3f;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  color: whitesmoke;
  background-color: #3f3f3f;
  border-radius: 0.33rem;
}
.asset-input select {
  margin: 0.55rem;
  border-width: 2px;
}
.asset-input input {
  background-color: transparent;
}
.asset-input input:focus {
  outline: none;
}

.notifications {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  pointer-events: none;
  box-sizing: border-box;
}
.notifications .notification {
  position: static;
  margin-left: auto;
}

.notification {
  pointer-events: all;
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 1.1rem;
  margin: 1.1rem;
  display: flex;
  max-height: 100vh;
  max-width: 100%;
  width: 720px;
  overflow: hidden;
  color: white;
  background-color: #040a17;
  border-bottom-left-radius: 0.33rem;
  border-top-left-radius: 0.33rem;
  transition: all 0.5s;
}
.notification.hidden {
  transform: translateX(calc(100% + 1.1rem ));
}
.notification.removing {
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.notification .message {
  padding: 0 1.1rem;
}
.notification::before {
  content: "";
  font-size: 1.3em;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 64px;
  font-weight: bold;
  text-shadow: 0 0 2px #040a17;
}
.notification::before {
  content: "i";
  background-color: #00ade8;
}
.notification.error::before {
  content: "!";
  background-color: #E8174D;
}
.notification.warn::before {
  content: "?";
  background-color: #fac759;
}
.notification.success::before {
  content: "✔";
  background-color: #69fabd;
}

code {
  display: block;
  background-color: #3f3f3f;
  padding: 1.1rem;
}

#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #040a17;
}

.wallet {
  display: flex;
  color: whitesmoke;
  align-items: center;
  width: 1080px;
  margin: 0 auto;
  max-width: 100%;
  height: 55px;
  padding: 5px 2.2rem;
  justify-content: flex-end;
  box-sizing: border-box;
  font-size: 0.9rem;
}
.wallet > * {
  margin-left: 1.1rem;
}
.wallet .network {
  padding: 0.3666666667rem 1.1rem;
  border-radius: 0.33rem;
  background-color: #3f3f3f;
  cursor: normal;
}
.wallet .wallet-button {
  margin: 0;
  max-width: 150px;
  padding: 0.3666666667rem;
}

.asset-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #00ade8;
  border-radius: 3px;
}
.asset-preview > * {
  margin: 0 20px;
}
.asset-preview > *::before {
  font-size: 0.75rem;
  font-weight: bold;
  color: #00ade8;
  text-transform: uppercase;
  margin-right: 0.3em;
  margin-bottom: 0.2em;
  opacity: 0.6;
}
.asset-preview .amount,
.asset-preview .name,
.asset-preview .decimals,
.asset-preview .symbol {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.asset-preview .name {
  flex: 1.5;
}
.asset-preview .icon {
  display: flex;
  align-items: center;
}
.asset-preview .icon > img {
  max-height: 32px;
  width: 32px;
}
.asset-preview .name::before {
  content: "name";
}
.asset-preview .decimals::before {
  content: "decimals";
}
.asset-preview .symbol::before {
  content: "symbol";
}
.asset-preview .amount::before {
  content: "amount";
}

.assets-list {
  border: 2px solid #00ade8;
  border-radius: 0.33rem;
}
.assets-list .asset-preview {
  border: none;
}
.assets-list .asset-preview:not(:last-child) {
  border-bottom: 1px solid #00ade8;
}

/*# sourceMappingURL=harmony-dev-dao-style.css.map */
