@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-VariableFont_wght.ttf') format('ttf-variations');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
   }

   @font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Italic-VariableFont_wght.ttf') format('ttf-variations');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: italic;
   }