@import "_variables";

html {
    font-family: $font-family;
    background-color: $night-blue;
    font-size: $font-size;
}

header {

    max-width: 512px;
    margin: auto;
    margin-bottom: 2em;
    color: $green;


    &:after {
        margin: 0 auto;
        content: "";
        max-width: 80%;
        height: 200px;
        display: block;
        padding: $spacing 2*$spacing;
        box-sizing: border-box;
        background-image: url("../images/harmony-dev-dao-logo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

label {
    display: block;
    color: $blue;
    font-weight: bold;
    color: $blue;
    margin-bottom: 0.3rem;
    margin-top: 1rem;

}

#app {

    // color: $white;
    h1 {
        margin-top: 0;
        color: $green;
    }

    color: $white;
    background-color: $midnight-blue;
    border-radius: $radius;
    padding: $spacing 2*$spacing;
}

.accent {
    font-weight: bold;
    color: $green;
}

main {
    margin: auto;
    width: 1080px;
    max-width: 100%;

    box-sizing: border-box;
    padding: $spacing 2*$spacing;

    >h1 {
        margin-top: 0;
    }
}