@import "_variables";

.notifications {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    pointer-events: none;
    box-sizing: border-box;


    .notification {
        position: static;
        margin-left: auto;
    }
}

.notification {
    pointer-events: all;
    z-index: 10000;

    position: fixed;
    top: 0;
    right: $spacing;
    margin: $spacing;

    display: flex;

    max-height: 100vh;
    max-width: 100%;
    width: 720px;
    overflow: hidden;
    
    color: white;
    background-color: $midnight-blue;
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;


    transition: all 0.5s;

    &.hidden {
        transform: translateX(calc(100% + #{$spacing} ));
    }

    &.removing {
        max-height: 0;
        margin-top: 0;
        margin-bottom: 0;

    }

    .message {
        padding: 0 $spacing;
    }

    &::before {
        content: "";
        font-size: 1.3em;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 64px;
        font-weight: bold;
        text-shadow: 0 0 2px $midnight-blue;
    }

    &::before {
        content: "i";
        background-color: $blue;
    }

    &.error::before {
        content: "!";
        background-color: $red;
    }

    &.warn::before {
        content: "?";
        background-color: $yellow;
    }

    &.success::before {
        content: "✔";
        background-color: $green;
    }
}