@import "_variables";

@mixin background-styling() {
    background-color: $midnight-blue;
    border: 2px outset $green;
}

.tipping-jar {
    position: fixed;
    bottom: $spacing;
    right: $spacing;
    max-width: calc(100% - 2 * $spacing);

    overflow: hidden;

    .tipping-jar-content {

        h2 {
            margin-top: 0;
        }

        font-size: 0.9rem;


        @include background-styling();
        border-radius: $radius;
        border-bottom-right-radius: 0;


        box-sizing: border-box;
        width: 420px;
        max-width: calc(100% - 4px);
        padding: $spacing;
        margin-bottom: 5rem;
        margin-right: 2px;
        margin-left: 2px;


        opacity: 0;

        transform: scale(0);
        transform-origin: bottom right;
        transition: opacity 0.5s;
    }



    .floating-button {

        border: 2px outset rgba($green, 0);

        &::before {
            content: "💙";
        }
    }

}

.tipping-jar.open {

    .tipping-jar-content {
        transform: scale(1);
        opacity: 1;
    }

    .floating-button {
        // background-color: transparent;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        @include background-styling();
        border-top: none;


        &::before {
            content: "❌";
        }
    }
}

.tipping-jar-receivers {
    list-style-type: "💙";
}

.tipping-jar-receiver-row {
    align-items: center;
    color: $blue;

    padding-left: 20px;


    >* {
        display: block;
        margin-bottom: 3px;
    }

}

.tipping-jar-tip-button {
    margin-right: 5rem;
    margin: 0;
}