$white: whitesmoke;
$gray: rgb(63, 63, 63);

$green: #69fabd;
$dark-green: #46ac80;
$night-green: #265f47;


$blue: #00ade8; 
$dark-blue: #00739b;
$night-blue: #101e4a;
$midnight-blue: #040a17;

$red: #E8174D;
$yellow: #fac759;

$font-size: 1.1rem;
$bigger-font-size: 1.2em;
$font-family: "Nunito", Arial, Helvetica, sans-serif;

$spacing: $font-size;
$gap: $font-size * 0.2;

$shadow: 1px 2px 5px rgba(0,0,0,0.3);
$radius: $font-size * 0.3;