@import "_variables";


body>header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $midnight-blue;

}

.wallet {
    display: flex;
    color: $white;
    align-items: center;
    width: 1080px;
    margin: 0 auto;
    max-width: 100%;
    height: 55px;
    padding: 5px 2.2rem;
    justify-content: flex-end;
    box-sizing: border-box; 
    font-size: $smaller-font-size;
    > * {
        margin-left: $spacing;
    }

    .network {
        padding: calc($spacing / 3) $spacing;
        border-radius: $radius;
        background-color: $gray;
        cursor: normal;
    }


    .wallet-button {
        margin: 0;
        max-width: 150px;
        padding: calc($spacing / 3);
    }
}